{% extends 'base.html' %}

{% load static %}

{% block content %}
<div style="background-color: #292929">

    <div class="subpage_sprzedaz_1st_row">
        <div class="subpage_title">części zamienne i materiały eksploatacyjne</div>
    </div>

    <div class="subpage_materialy_container">

        <div class="subpage_middle_col">

            <div class="middle_col_container">

                {% for material in materialy %}
                    {% if material.visible == True %}
                    <div class="materialy-item">
                        <div class="item-title">
                            <div class="item-title-text highlight_text">{{ material.title }}</div>
                        </div>
                        <div class="materialy-item-image-and-description">
                            <div class="materialy-image">
                                {% if material.image %}
                                    <img src="{{ material.image.url }}">
                                {% else %}
                                    <div class="materialy-image-not-found">
                                        Brak obrazu
                                    </div>
                                {% endif %}
                            </div>

                            <div class="description-container">
                                <div class="item-description">
                                        {{ material.description|linebreaksbr }}
                                </div>

                                {% if material.description2 %}
                                <div class="item-description-ps">
                                    {{ material.description2|linebreaksbr }}
                                </div>
                                {% else %}
                                {% endif %}

                                {% if material.description3 %}
                                <div class="item-description-ps">
                                    {{ material.description3|linebreaksbr }}
                                </div>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                    <div style="display: none">
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="subpage_sprzedaz_2nd_row_container">
        <div class="subpage_sprzedaz_2nd_row">
            <div class="subpage_title" id="urzadzenia_title_id">urządzenia</div>
            <div class="subpage_sprzedaz_columns_description">
                <div class="subpage_sprzedaz_2nd_row_all_images">
                    <div class="subpage_sprzedaz_2nd_row_image1"></div>
                    <div class="subpage_sprzedaz_2nd_row_image_separator"></div>
                    <div class="subpage_sprzedaz_2nd_row_image2"></div>
                    <div class="subpage_sprzedaz_2nd_row_image_separator"></div>
                    <div class="subpage_sprzedaz_2nd_row_image3"></div>
                </div>
                <p>Emart Serwis prowadzi sprzedaż dmuchaw Rootsa, bocznokanałowych oraz sprężarek śrubowych, wiodących marek.
                    W ofercie posiadamy urządzenia takich produdentów jak: Lutos, Atlas Copco, Robuschi, Spomax, Effepizeta, Mapro, Emmecom, Kubicek i innych.

                    Istnieje możliwosc zakupu nowego lub używanego stopnia sprężającego a także konkretnych podzespolów.

                    W ofercie mamy rownież silniki elektryczne takich marek jak: Siemens, Hoyer, AC-Motoren, Celna Indukta.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
