{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>

    <div class="subpage_container">

    <div class="subpage_middle_col">

        <div>
        Nasza firma zapewnia pelną obslugę serwisową gwarancyjną i pogwarancyjną oraz szybki dostęp do oryginalnych części i materialów eksploatacyjnych.
        Wykonujemy przeglądy dmuchaw wszystkich firm dostępnych na rynku: Lutos, Atlas Copco,Robuschi Spomax Effepizeta,mapro, Emmecom, Kubicek i innych.
        *Wykonywanie okresowych przegladów ma ogromne znaczenie dla utrzymania urzadzeń w należytym stanie technicznym i tym samym utrzymanie ich w wysokiej niezawodności i sprawności przez długi okres użytkowania.

        *Podczas przeglądu wymieniamy olej, filtry oraz inne materialy eksploatacyjne które po diagnostyce zostają zaliczone do wymiany.
        *Wiekszość producentów zaleca przegląd maszyn co 6 miesięcy lub 4000 roboczo godzin.
        </div>

    </div>

    </div>
</div>
{% endblock %}