{% extends 'base.html' %}

{% load static %}

{% block content %}
<div>

    <div class="subpage_container">

        <div class="subpage_uslugi_two_columns">

            <div class="subpage_uslugi_left_col">
                <div class="subpage_title">Przegląd okresowy</div>
                <div class="subpage_uslugi_columns_without_title">
                    <div class="subpage_uslugi_columns_img_background">
                      <img class="subpage_uslugi_columns_img" src="{% static 'img/subpages/przeglad1300x600tinified.png' %}">
                        <div class="subpage_description border-radius-top-0">
                            <p>Nasza firma zapewnia pelną obslugę serwisową, gwarancyjną i pogwarancyjną oraz szybki dostęp do oryginalnych części i materialów eksploatacyjnych.

                                Wykonujemy przeglądy dmuchaw wszystkich firm dostępnych na rynku np.: Lutos, Atlas Copco, Robuschi, Spomax, Effepizeta, Mapro, Emmecom, Kubicek i innych.

                            * Wykonywanie okresowych przegladów ma ogromne znaczenie dla utrzymania urzadzeń w należytym stanie technicznym i tym samym utrzymanie ich w wysokiej niezawodności i sprawności przez długi okres użytkowania.

                            * Podczas przeglądu wymieniamy olej, filtry oraz inne materialy eksploatacyjne które po diagnostyce zostają zaliczone do wymiany.

                                *Wiekszość producentow zaleca przegląd maszyn co 6 miesiecy lub 4000 roboczo godzin.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subpage_uslugi_middle_col"></div>

            <div class="subpage_uslugi_right_col">
                <div class="subpage_title">Remonty i naprawy awaryjne</div>
                <div class="subpage_uslugi_columns_without_title">
                    <div class="subpage_uslugi_columns_img_background">
                      <img  class="subpage_uslugi_columns_img" src="{% static 'img/subpages/remont1300x600tinified.png' %}">
                        <div class="subpage_description border-radius-top-0">
                            <p>W dmuchawach i sprężąrkach najczęstszą przyczyną usterki jest zużycie łożysk. Wiekszość producentów przewiduje ich żywotność na 20.000 rbh

                                Kolejnym ważnym czynnikiem są uszczelnienia tuleji labiryntowych oraz uczczelnienie wału napędowego.

                                * Po kazdym remoncie sporządzamy protokół z wykonywanych prac.

                                * Aby zapewnić ciąglość produkcji na czas naszych prac  istnieje mozliwość wypożyczenia stopnia zastepczego.

                                * Na wyremontowaną jednostke dajemy 12 miesięcą gwarancję.

                                Emart Serwis w ofercie posiada również naprawe silników elektrycznych.

                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}